<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.products.qc"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.products.qc.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path" />
        </provider>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayManifestActivity"
            android:label="@string/title_activity_display_manifest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullScreenViewActivity"
            android:label="@string/title_activity_full_screen_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_grid_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TemperatureGrowerPlusActivity"
            android:label="@string/title_activity_temperature_grower_plus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QcFactorTableActivity"
            android:label="@string/title_activity_qc_factor_table"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrixPressureMeasurementsActivity"
            android:label="@string/title_activity_brix_pressure_measurements"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StatusActivity"
            android:label="@string/title_activity_status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" />
        <activity
            android:name=".InquireLocationActivity"
            android:label="@string/title_activity_inquire_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InquireLocation51Activity"
            android:label="@string/title_activity_inquire_location51"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InquireLocation52Activity"
            android:label="@string/title_activity_inquire_location52"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RackInventoryActivity"
            android:label="@string/title_activity_rack_inventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginRecuperationActivity"
            android:label="@string/title_activity_login_recuperation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoiceToolsActivity"
            android:label="@string/title_activity_choice_tools"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WarehouseManagementActivity"
            android:label="@string/title_activity_warehouse_management"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PalletIntroductionActivity"
            android:label="@string/title_activity_pallet_introduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationIntroductionActivity"
            android:label="@string/title_activity_location_introduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InventoryQuantityActivity"
            android:label="@string/title_activity_rack_inventory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".altag_pallet"
            android:label="@string/title_activity_altag_pallet" />
        <activity
            android:name=".altag_altag"
            android:label="@string/title_activity_altag_altag" />
        <activity
            android:name=".InquireLocation53Activity"
            android:label="@string/title_activity_inquire_location53" />
        <activity
            android:name=".CameraToolActivity"
            android:label="@string/button_go_cameratool"
            android:parentActivityName=".ChoiceToolsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CamerasSettingActivity"
            android:label="@string/title_activity_cameras_setting"
            android:parentActivityName=".CameraToolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OneCameraSettingActivity"
            android:label="@string/title_activity_one_camera_setting"
            android:parentActivityName=".CamerasSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraIPVisualizationActivity"
            android:parentActivityName=".CameraToolActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".CameraShowIpPictActivity"
            android:label="@string/title_activity_show_cam_ip_pict"
            android:parentActivityName=".CameraIPVisualizationActivity">
        </activity>
    </application>

</manifest>